<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Todolist</title>
	<%= stylesheet_link_tag :all %>
	<%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/base/jquery-ui.css" %>
	<%= javascript_include_tag :defaults %>
	<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" %>
	<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js" %>
	<%= csrf_meta_tag %>
</head>
<body>
<% if flash[:error] %>
	<div class="ui-state-error ui-corner-all flash-error" style="padding: 0.7em;">
		<p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span><strong>Error:</strong> <%= flash[:error] %></p>
	</div>
<% end %>

<% if flash[:notice] %>
	<div class="ui-state-highlight ui-corner-all flash-notice" style="margin-top: 20px; padding 0.7em;">
		<p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span><%= notice %></p>
	</div>
	
<% end %>

<div id="main-body">
<%= yield %>
</div>

</body>
</html>
